/* Default */
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}

/* Add Style */
.GamePage {
  outline: 3px solid #ccc;
  margin: 0 auto;
  padding: 1rem 2rem 2rem;
  width: 500px;
  text-align: center;
}
h2 {
  margin: 0;
}
ol {
  text-align: left;
}
li {
  margin: 0.5rem;
}
.current_step {
  font-weight: bold;
  color: red;
}
