/* FilterableProductTable */

/* SearchBar */
.SearchBar > input {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 100%;

  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 10px;

  font-size: 1rem;
  font-weight: bold;
}
.SearchBar > input:focus {
  outline: none;
  box-shadow: 0 0 0 1px inset;
}
.SearchBar label {
  display: block;
  font-size: 1rem;
}

/* ProductTable */
.ProductTable {
  margin-top: 1rem;
  padding: 1rem 0;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 1rem;
}
.ProductTable thead th {
  background-color: green;
}
.ProductTable tbody th {
  background-color: #555;
}
.ProductTable .out_of_stock {
  color: red;
}
.ProductTable th,
.ProductTable td {
  padding: 0.5rem;
  border: 2px solid white;
  text-align: center;
}
.ProductTable .price {
  padding-right: 1.5rem;
  text-align: right;
}
